.root {
    -fx-background-color: #f4f4f4;
    -fx-font-family: sans-serif;
    -fx-padding: 10;
    -fx-spacing: 10;
}

/*===== BUTTON STYLE =====*/
.button {
    -fx-background-color: linear-gradient(#5A5C64, #3D3D42);
    -fx-background-insets: 0;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(two-pass-box, #5A5C64, 2, 1, 0, 0);
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-padding: 0.3em;
    -fx-text-fill: #d1d1d9;
}

.button:hover {
    -fx-background-color: linear-gradient(#4C4D52, #38393E);
    -fx-text-fill: #ffffff;
}

.button:pressed {
    -fx-background-color: linear-gradient(#41403C, #3D3D42);
    -fx-effect: dropshadow(three-pass-box, #f4f4f4, 2, 1, 0, 0);
}

.button:focused {
    -fx-text-fill: #ffffff;
}

.button:disabled {
    -fx-background-color: linear-gradient(#6E7078, #515156);
    -fx-text-fill: #8E8E96;
}

/*-----BUTTON STYLE END -----*/

#filesPane, #destinationPane, #resolutionPane {
    -fx-alignment: center-left;
    -fx-spacing: 10;
}

#filesPane #buttonBar {
    -fx-spacing: 10;
}

#destinationPane .text-field {
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-border-style: none;
}

#resolutionPane .label {
    -fx-font-weight: bold;
}

.text-field.error, #imagesPathsList.error {
    -fx-border-color: #FF0000;
}


